{% extends "base.html" %}

{% block head %}
<h1 style="color:blue; text-align: center;">Task Manager</h1>
{% endblock %}

{% block body %}
<div class="content">
  <h1 style="color: lightseagreen; text-align: center;"> Update Task</h1>
  <div class='form'>
    <form action="/update/{{task.id}}" method='POST'>
      <input type = 'text' name = 'content' id = 'content' value = {{task.content}} autofocus autocomplete="on">
      <input type="submit" value="Update">
    </form>
  </div>
</div>
{% endblock %}